@model E_Ticaret.Models.i.indexModel
@{
    ViewBag.Title = "Index";
    List<E_Ticaret.DB.Categories> categories = new List<E_Ticaret.DB.Categories>();
    if (Model.Category != null)
    {
        categories.Add(Model.Category);
        var parentcaCat = Model.Category.Categories2;
        while (parentcaCat != null)
        {
            categories.Add(Model.Category);
            parentcaCat = parentcaCat.Categories2;
        }

    }
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "i", new {id=0})">Ana Sayfa</a></li>

            @for (int i = categories.Count - 1; i >= 0; i--)
            {
                if (i == 0)
                {
                    <li class="@(i==0?"active":"")">@categories[i].Name</li>
                }
                else
                {
                    <li class="@(i==0?"active":"")"><a href="@Url.Action("index","i",new { id = categories[i].Id})">@categories[i].Name</a></li>
                }

            }



        </ol>
    </div>
</div>

<div class="row">

    @foreach (var item in Model.Products)
    {
        @Html.Partial("ProductItem", item);
    }



</div>

